<!DOCTYPE html>
<html>
  <head>
    <title>Testing Times</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="banner">
    <h1>Testing Times</h1>
    <div class="slogan">"May we live in them"</div>
  </div>
  <br>
  <br>

  <body>
  <%= yield %>
    <% flash.each do |name, msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
    <% end %>
  </body>

  <footer>
    <body>Copyright
    <%= image_tag ("copyright.png"), class: "image"%>
    2019 Flashwire Limited, All rights reserved</body>
  </footer>
</html>
